.wrapper_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.character_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CAB239;
    border-radius: 10px;
    max-width: 100vw;
    position: relative;
}

.character_container--info {
    flex-grow: 1;
}

.info_list {
    list-style: none;
    padding: 0 20px;
    margin-top: 40px;
    color: rgb(29, 6, 2);
    font-weight: 500; 
    text-align: center;
}

.item_img {
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 150px;
    border-radius: 10px;
    margin-top: 20px;
}

.item_name {
    text-align: center;
    color: #B0321B;
    font-size: 30px;
}

.info_item {
    margin-bottom: 25px;
}

.fa-times-circle {
    position: absolute;
    left: 93%;
    top: 2%;
    transform: scale(1.1);
    color: white;
}

.card_link {
    text-decoration: none;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #B0321B;
    border-radius: 30px;
    color: white;
}
