.character_list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 0 30px;
}

.character_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    background-image: url(../images/pergamino.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.character_item--container {
    margin-top: 50px;
    padding: 20px 10px;
    border-radius: 30px;
    max-height: 300px;
}

.character_name {
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Rock Salt', cursive;

}

.character_house {
    margin: 0;
    font-weight: 500;
    font-family: 'Rock Salt', cursive;
    font-size: 12px;
}

.character_link {
    text-decoration: none;
    background-color: rgb(105, 105, 105);
    border-radius: 30px;
    padding: 10px 15px;
    color: white;
    font-weight: 400;
    max-width: 150px;
    box-shadow: 1px 1px 1px black;    
}

.character_link:hover {
    transform: scale(1.1);
}

.character_img {
    height: 200px;
    border-radius: 10px;
}

.link_red {
    background-color: #B0321B;
}

.link_green {
    background-color: rgb(27, 176, 59);
}

.link_yellow {
    background-color: rgb(194, 197, 23);
}

.link_blue {
    background-color: rgb(27, 129, 176);
}

