.filters_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.character_search {
    margin-top: 20px;
    background-color: rgb(120, 123, 128);
    border: 1px solid  rgb(240, 240, 240);
    border-radius: 10px;
    padding: 7px;
}

.character_search--label {
    font-family: 'Rock Salt', cursive;
    color: rgb(240, 240, 240);
    font-size: 14px;
}